
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li><a ui-sref="app.listallreviews">List All Reviews</a></li>
                   <li class="active">Review Details</li>
               </ul>
            </div>
            <div class="col-xs-12">
                <h3>Please take a look at this nice review of a <b><font color=red>{{review.make}} {{review.model}}</font></b>.</h3>
                <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-1">
                <p></p>
            </div>
            <div class="col-xs-12 col-sm-11">
                <table>
                    <tr>
                        <th>Price</th>
                        <th>Mileage</th>
                        <th>Year</th>
                        <th>Location</th>
                        <th>Zip</th>
                        <th>Rating</th>
                    </tr>
                    <tr>
                        <td><span id="currency-no-fractions">{{review.price | currency:"$":0}}</span></td>
                        <td>{{review.mileage}}</td>
                        <td>{{review.year}}</td>
                        <td>{{review.location}}</td>
                        <td>{{review.zip}}</td>
                        <td>{{filterText}}</td>
                    </tr>
                </table>
                <hr><b>REVIEW</b>
                <p>{{review.review}}</p>
                <hr>
                Review by <b> {{review.username}} </b> on <b> {{review.dateReviewed | date:'MM/dd/yyyy'}} </b>
            </div>
        </div>
               
    </div>
